/**
 * Spacing
 *
 * This LESS file defines margins and paddings for block-level
 * elements. Helper classes are included for use elsewhere
 * in site styles.
 */

// Settings

@baseline: 20px;

// Block-level

h1, h2, h3, h4, h5, h6, ul, ol, dl, p, blockquote, table, form, pre{
    margin-bottom: @baseline;
}

// Spacing
// p, m = padding, margin
// a, t, r, b, l, h, v = all, top, right, bottom, left, horizontal, vertical
// s, m, l, n = small(@baseline / 2), medium(@baseline), large(@baseline * 2), none(0px)

.ptn, .pvn, .pan{
    padding-top: 0px !important
}
.pts, .pvs, .pas{
    padding-top: @baseline / 2 !important
}
.ptm, .pvm, .pam{
    padding-top: @baseline !important
}
.ptl, .pvl, .pal{
    padding-top: :  !important
}
.prn, .phn, .pan{
    padding-right: 0px !important
}
.prs, .phs, .pas{
    padding-right: @baseline / 2 !important
}
.prm, .phm, .pam{
    padding-right: @baseline !important
}
.prl, .phl, .pal{
    padding-right: @baseline * 2 !important
}
.pbn, .pvn, .pan{
    padding-bottom: 0px !important
}
.pbs, .pvs, .pas{
    padding-bottom: @baseline / 2 !important
}
.pbm, .pvm, .pam{
    padding-bottom: @baseline !important
}
.pbl, .pvl, .pal{
    padding-bottom: @baseline * 2 !important
}
.pln, .phn, .pan{
    padding-left: 0px !important
}
.pls, .phs, .pas{
    padding-left: @baseline / 2 !important
}
.plm, .phm, .pam{
    padding-left: @baseline !important
}
.pll, .phl, .pal{
    padding-left: @baseline * 2 !important
}
.mtn, .mvn, .man{
    margin-top: 0px !important
}
.mts, .mvs, .mas{
    margin-top: @baseline / 2 !important
}
.mtm, .mvm, .mam{
    margin-top: @baseline !important
}
.mtl, .mvl, .mal{
    margin-top: @baseline * 2 !important
}
.mrn, .mhn, .man{
    margin-right: 0px !important
}
.mrs, .mhs, .mas{
    margin-right: @baseline / 2 !important
}
.mrm, .mhm, .mam{
    margin-right: @baseline !important
}
.mrl, .mhl, .mal{
    margin-right: @baseline * 2 !important
}
.mbn, .mvn, .man{
    margin-bottom: 0px !important
}
.mbs, .mvs, .mas{
    margin-bottom: @baseline / 2 !important
}
.mbm, .mvm, .mam{
    margin-bottom: @baseline !important
}
.mbl, .mvl, .mal{
    margin-bottom: @baseline * 2 !important
}
.mln, .mhn, .man{
    margin-left: 0px !important
}
.mls, .mhs, .mas{
    margin-left: @baseline / 2 !important
}
.mlm, .mhm, .mam{
    margin-left: @baseline !important
}
.mll, .mhl, .mal{
    margin-left: @baseline * 2 !important
}